name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked

      - name: Build the project
        run: uv run nuitka --standalone --onefile --follow-imports --output-dir=dist --output-filename=jwt-tool jwt_tool.py

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/jwt-tool
